.g-doc{
    width: 100%;
    background: #F6F6F6;
}

.g-hd{
    overflow: hidden;
    height: 280px;
    width: 100%;
    background: #404CF6;
}
.g-hd .m-con{
    height: 280px;
    width: 1260px;  
    margin: 0 auto;  
}
.g-hd .m-con .m-top{
    display: flex;
    align-items: center;
    height: 36px;
    width: 100%;
    padding: 20px 0;
}
.g-hd .m-con .m-top .u-logo{
    display: inline-flex;
    justify-items: center;
    width: 250px;
    height: 60px;
}
.g-hd .m-con .m-top .u-logo span{
    display: inline-block;
    width: 112px;
    height: 60px;
    background: url(../img/LOGO.png);
    background-repeat: no-repeat;
}
.g-hd .m-con .m-top .u-logo label{
    opacity: 1.0;
    font-size: 24px;
}

.g-hd .m-con .m-top .u-nav{
    display: inline-flex;
    align-items: center;
    vertical-align:top;
    height: 60px;
    width:660px;
}

.g-hd .m-con .m-top .u-nav .z-sel{
    opacity: 1.0;
}

.g-hd .m-con .m-top label{
    width: 120px;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    text-align: center;
    color: #FFF;
    cursor:pointer;
    opacity: 0.6;
    font-family: PingFangSC-Regular;
    font-size: 18px;
}

.g-hd .m-con .m-top .u-user{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align:top;
    height: 60px;
    width: 350px;
}

.g-hd .m-con .m-top .u-user label{
    opacity: 1.0;
}

.g-hd .m-con .m-top .u-user .icon-system-01{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    margin-left: 20px;
    border-radius: 50%;
    color: #404CF6;
    background-color: #fff;
}
.g-hd .m-con .m-top .u-user .icon-system-04{
    color: #FFF;
}
.g-hd .m-con .m-top .u-user .icon-system-07{
    color: #FFF;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); /* Opera */
}

.g-hd .m-bottom{
    width: 100%;
    margin: 20px 0;
}

.g-hd .m-bottom .u-left{
    display: inline-flex;
    flex-direction: column;
    vertical-align:top;
    height: 60px;
    width: 65%;
}
.g-hd .m-bottom .u-left label:nth-child(1) {
    opacity: 0.8;
    font-size: 16px;
    color: #FFFFFF;
}

.g-hd .m-bottom .u-left label:nth-child(2) {
    line-height: 32px;
    margin-top: 10px;
    width: 100px;
    height: 32px;
    border-radius: 20px;
    opacity: 0.8;
    font-size: 14px;
    text-align: center;  
    background: rgba(34,34,34,0.20);
    color: #FFF;
}

.g-hd .m-bottom .u-right{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align:top;
    height: 60px;
    width: 35%;
}

.g-hd .m-bottom .u-right input{
    width: 400px;
    height: 60px;
    line-height: 60px;
    padding-left: 62px;
    text-align: left;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-size: 16px;
    background: rgba(34,34,34,0.20);
}

.g-hd .m-bottom .u-right .icon-system-05{
    position: relative;
    color: #FFF;
    left: 50px;

}

.g-hd .m-bottom .u-right input::-webkit-input-placeholder{
    color:#FFF;
}
.g-hd .m-bottom .u-right input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#FFF;
}
.g-hd .m-bottom .u-right input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#FFF;
}
.g-hd .m-bottom .u-right input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#FFF;
}

.g-bd{
    height: auto;
}
.g-bd .m-con{
    width: 1260px;
    margin: -100px auto 0 auto;
}
.g-bd .m-con .u-item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 615px;
    height: 552px;
    margin: 0 30px 30px 0;
    background: #FFF;
    box-shadow: 0 2px 20px 0 rgba(90,90,90,0.10);
    border-radius: 20px;
}

.g-bd .m-con .u-item .u-tit {
    overflow: hidden;
    width: 100%;
    height: 492px;
    box-sizing: border-box;
    padding: 30px;
}
.g-bd .m-con .u-item .u-tit .u-hd{
    display: flex;
    align-items: center;
}
.g-bd .m-con .u-item .u-tit .u-left {
    display: inline-block;
    width: 130px;
    height: 130px;
}

.g-bd .m-con .u-item .u-tit .u-left span {
    display: inline-block;
    width: 130px;
    height: 130px;
    background-image: url(../img/dd.jpg);
    background-repeat: no-repeat;
    background-size: 130px 130px;
    border-radius: 10px;
}

.g-bd .m-con .u-item .u-tit .u-right {
    display: inline-block;
    width: 380px;
    height: 130px;
    margin-left: 30px;
}

.g-bd .m-con .u-item .u-tit .u-right .u-name{
    width: 380px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #404CF6;
}

.g-bd .m-con .u-item .u-tit dt {
    width: 100%;
    align-items: center;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #222222;
}

.g-bd .m-con .u-item .u-tit dt span {
    font-size: 24px;
    color: #222;
}

.g-bd .m-con .u-item .u-tit dd {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.g-bd .m-con .u-item .u-tit dd span {
    font-size: 14px;
    color: #999;
}

.g-bd .m-con .u-item .u-tit li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 61px;
    box-sizing: border-box;    
    border-bottom: 1px dashed #CCCCCC;
}

.g-bd .m-con .u-item .u-tit li:nth-child(1){
    margin-top: 30px;
    border-top: 1px dashed #CCCCCC;
}
.g-bd .m-con .u-item .u-tit li span{
    width: 56px;
    height: 20px;
    color: #404CF6;
    font-size: 14px;
}

.g-bd .m-con .u-item .u-list-left{
    display: flex;
    align-items: center;
    width: 150px;
    height: 100%;
}


.g-bd .m-con .u-item .u-list-left span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    margin: 0 8px 0 0;
    background-color: #EDEEFE;
    font-size: 12px;
    color: #404CF6;
}

.g-bd .m-con .u-item .u-list-left span:nth-child(2) {
    width: 140px;
    font-size: 14px;
    color: #333;
}

.g-bd .m-con .u-item .u-list-mid{
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
}
.g-bd .u-item .u-list-mid .u-progress{
    display: inline-block;
    width: 200px;
    height: 14px;
    margin: 0 10px 0 50px;
    border-radius: 8px;
    background-color: #EDEEFE;
}
.g-bd .u-item .u-list-mid .u-progress .u-completed{
    display: inline-block;
    width: 200px;
    height: 14px;
    border-radius: 8px;
    background-color: #404CF6;
}

.g-bd .u-item .u-list-mid .u-progress .u-half-completed{
    display: inline-block;
    width: 100px;
    height: 14px;
    border-radius: 8px;
    background-color: #404CF6;
}
.g-bd .m-con .u-item .u-list-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 100%;
}
.g-bd .m-con .u-item .u-list-right .z-score{
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #ffac10;
    color: #FFF;
    border-radius: 8px;
}
.g-bd .m-con .u-item .u-list-right .z-completed{
    color: #1FAD66;
}
.g-bd .m-con .u-item .u-list-right .z-pending{
    color: #999;
}
.g-bd .m-con .u-item .u-list-right .z-doing{
    color: #FF9500;
}
.g-bd .m-con .u-item .u-con {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 60px;
    background-color: #F6F6F6;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.g-bd .m-con .u-item .u-con .u-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 33px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}

.g-bd .m-con .u-item .u-con .u-btn:last-child {
    border-right: none;
}

.g-bd .m-con .u-item .u-con .u-btn i {
    display: flex;
    overflow: hidden;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.g-bd .m-con .u-item .u-con .u-btn span {
    cursor: pointer;
    font-size: 16px;
    color: #333333;
}
.g-bd .m-con .u-add div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.g-bd .m-con .u-add div:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 6px;
    height: 80px;
    border-radius: 3.5px;
    background-color: #D8D8D8;
    content: '';
}
.g-bd .m-con .u-add div:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 80px;
    height: 6px;
    border-radius: 3.5px;
    background-color: #D8D8D8;
    content: '';
}

.g-bd .m-page{
  height: 70px;
  line-height: 70px;
  padding: 20px 0;
  text-align: center;
}

.g-bd .m-page label{
  display: inline-block;
  margin: 0 5px;
  background: #FFF;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #999;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
}

.g-bd .m-page :nth-last-child(1){
  width: 68px;
}

.g-bd .m-page :first-child{
  width: 68px;
}

.g-bd .m-page .z-sel{
  background: #4F4F4F;
  color: #FFF;
}
.g-ft{
    height: 80px;
    background: #333;
}
.g-ft label{
  display: block;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  color: #FFF;
  text-align: center;
}

.mR0{
  margin-right: 0 !important;
}

i[class^='icon-system-']{
    font-size: 20px;
}